@import url("roboto-400-regular.css");
@import url("roboto-500-medium.css");

* {
  margin: 0;
  box-sizing: border-box;
}

/*footer {*/
/*    font-family: "Roboto", sans-serif;*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/
/*}*/

.footer-back-color{
  background-color: #10367c;
}
.footer {
  /*width: 100%;*/
  width: 1235px;
  margin: 0 auto;
  /*height: 625px;*/
  /*background-color: #10367c;*/
  /*font-size: 40px;*/
  /*font-weight: 500;*/
}

.footer-list {
  display: flex;
  justify-content: space-between;
  padding: 120px 104px 40px;

}

.title-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.ul-footer {
  list-style: none;
  padding-left: 0;
  margin-top: 24px;
}

.li-footer {
  padding-bottom: 24px;
}
.footer-about {
  /*width: 400px;*/
  color: #ffffff;
}

.block-footer {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-decoration-color: #ffffff;
}

.footer-end {
  /*display: flex;*/
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-left: 105px;
  padding-bottom: 120px;
}
