* {
  margin: 0;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1235px;
  /*height: 569px;*/
  margin: 0 auto;
}

.offer-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 20px;
  font-size: 40px;
}

.dividing-line {
  margin: 40px 44% 80px 46%;
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
}

/*.dividing-line {*/
/*  width: 100px;*/
/*  height: 4px;*/
/*  background-color: #f5bd41;*/
/*  margin-bottom: 80px;*/
/*  margin-top: 40px;*/
/*}*/

.container-panel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /*margin-left: 20px;*/
  /*margin-right: 20px;*/
}

.img-block {
  display: flex;
  align-items: center; /*центируем по оси у*/
  justify-content: center; /*центируем по оси х*/
  height: 100px;
}

.flex-marg{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 70px;
  margin-right: 50px;
}

/*.panel-block {*/
  /*width: 296px;*/
/*}*/

.text-panel {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  padding-top: 50px;
  margin-bottom: 8px;
}
